$base-accent: #34afad;
$base-font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, "Malgun Gothic", "맑은 고딕", sans-serif;
$base-text-color: #fafcfd;
$base-label-color: #eaeaeb;
$base-icon-color: #cccccc;
$base-spin-icon-color: #cccccc;
$base-bg: #111111;
$base-border-color: #383a3d;
$base-success: #107c3f;
$base-warning: #ffc107;
$base-danger: #fb7065;
$base-hover-color: #fafcfd;
$base-hover-bg: rgba(255, 255, 255, 0.05);
$base-focus-color: rgba(0, 0, 0, 0.87);
$base-focus-bg: rgba(255, 255, 255, 0.05);
$base-link-color: #338c8b;
$base-border-radius: 4px;
$button-normal-color: #fdffff;
$button-normal-bg: #9098a8;
$button-normal-hover-bg: #a7adba;
$button-normal-focused-bg: #a7adba;
$button-normal-active-bg: #e6e8eb;
$button-default-color: #f9f3f1;
$button-default-bg: #35b0ad;
$button-default-hover-bg: #48c8c5;
$button-default-focused-bg: #48c8c5;
$button-default-active-bg: #95dfdd;
$button-danger-color: #fdffff;
$button-danger-bg: #fb7065;
$button-danger-hover-bg: #fc978f;
$button-danger-focused-bg: #fc978f;
$button-danger-active-bg: #fecac6;
$button-success-color: white;
$button-success-bg: #107c3f;
$button-success-hover-bg: #15a253;
$button-success-focused-bg: #15a253;
$button-success-active-bg: #1bd46c;
$list-group-color: rgba(0, 0, 0, 0.6);
$list-border-color: #383a3d;
$list-group-header-bg: rgba(17, 17, 17, 0);
$list-normal-color: #fafcfd;
$list-expanded-group-color: #34afad;
$list-item-hover-bg: rgba(255, 255, 255, 0.05);
$list-item-selected-bg: rgba(110, 110, 128, 0.5);
$list-item-active-bg: #444444;
$fieldset-field-label-color: white;
$button-group-normal-selected-color: #fafcfd;
$button-group-normal-selected-bg: rgba(255, 255, 255, 0.18);
$button-group-default-selected-color: #35b0ad;
$button-group-default-selected-bg: rgba(53, 176, 173, 0.22);
$button-group-danger-selected-color: white;
$button-group-danger-selected-bg: rgba(251, 112, 101, 0.64);
$button-group-success-selected-color: #107c3f;
$button-group-success-selected-bg: rgba(16, 124, 63, 0.22);
$scrollable-scroll-bg: #292a2d;
$switch-bg: #727272;
$switch-handle-off-bg: #161616;
$switch-on-bg: #33b0ae;
$switch-handle-on-bg: #1c4040;
$tabs-tab-color: white;
$tabs-tab-selected-color: #35b0ad;
$tabs-selected-tab-bottom-border-color: #164b49;
$tabs-tab-bg: #090909;
$tabs-hovered-tab-bg-color: #232323;
$badge-color: rgba(0, 0, 0, 0.87);
$badge-bg: #34afad;
$navbar-tab-color: #fafcfd;
$navbar-tab-selected-color: #fafcfd;
$navbar-tab-bg: #090909;
$navbar-tab-selected-bg: #111111;
$overlay-content-bg: #2d2d31;
$overlay-shader-bg: rgba(0, 0, 0, 0.56);
$textbox-search-icon-color: #cccccc;
$texteditor-color: #fafcfd;
$texteditor-placeholder-color: rgba(171, 171, 171, 0.18);
$texteditor-bg: #0f120f;
$texteditor-focused-bg: rgba(17, 17, 17, 0.3);
$texteditor-border-color: #2d5152;
$texteditor-hover-border-color: rgba(51, 140, 139, 0.66);
$texteditor-focused-border-color: #338c8b;
$texteditor-hover-bg: rgba(17, 17, 17, 0.88);
$dropdowneditor-icon-active-color: #cccccc;
$calendar-header-color: white;
$calendar-cell-other-color: white;
$calendar-cell-selected-bg: #35b0ac;
$calendar-shevron-icon-color: #35b0ac;
$load-indicator-segment-bg-color: #34afad;
$treeview-focused-bg: rgba(255, 255, 255, 0.05);
$menu-color: white;
$menu-item-selected-bg: #252525;
$selectbox-list-bg: #2d2d31;
$toolbar-bg: #111111;
$popup-title-bg: #2d2d31;
$tileview-color: #fafcfd;
$toast-color: rgba(255, 255, 255, 0.87);
$toast-info-bg: rgba(0, 0, 0, 0.87);
$toast-warning-bg: #ffc107;
$toast-error-bg: #fb7065;
$toast-success-bg: #107c3f;
$progressbar-bg: rgba(52, 175, 173, 0.3);
$progressbar-range-bg: #34afad;
$progressbar-label-color: #34afad;
$tooltip-color: #fafcfd;
$tooltip-bg: black;
$material-slider-bar-bg: rgba(52, 175, 173, 0.24);
$material-slider-bg: #34afad;
$material-slider-tooltip-color: rgba(247, 247, 247, 0.87);
$gallery-indicator-bg: #35b0ad;
$gallery-indicator-item-selected-bg: #34afad;
$gallery-indicator-focused-bg: #34afad;
$gallery-navbutton-hover-color: #34afad;
$gallery-navbutton-active-color: #34afad;
$loadpanel-content-bg: #2d2d31;
$tagbox-tag-color: rgba(250, 252, 253, 0.6);
$tagbox-tag-bg: #303030;
$tagbox-tag-active-color: #fafcfd;
$tagbox-tag-button-remove-bg: rgba(0, 0, 0, 0.36);
$accordion-title-color: #34afac;
$accordion-item-border-color: #09090a;
$accordion-icon-active-color: #34afac;
$colorbox-overlay-bg: #2d2d31;
$datagrid-columnchooser-item-color: rgba(250, 252, 253, 0.6);
$datagrid-columnchooser-font-weight: 500;
$datagrid-drag-header-border-color: rgba(21, 97, 63, 0.5);
$datagrid-selection-bg: #1d1d20;
$datagrid-row-selected-border-color: rgba(56, 58, 61, 0.79);
$datagrid-row-selected-color: #fafcfd;
$datagrid-row-focused-color: white;
$datagrid-row-focused-bg: rgba(29, 29, 32, 0.67);
$datagrid-menu-icon-color: white;
$datagrid-cell-modified-border-color: rgba(16, 124, 63, 0.32);
$datagrid-row-invalid-faded-border-color: rgba(251, 112, 101, 0.32);
$datagrid-group-row-color: rgba(250, 252, 253, 0.54);
$datagrid-group-row-bg: #111111;
$datagrid-search-color: rgba(0, 0, 0, 0.87);
$datagrid-search-bg: #67b86e;
$datagrid-row-error-color: white;
$datagrid-row-error-bg: #9d4a43;
$datagrid-focused-border-color: #2c5254;
$datagrid-editor-bg: rgba(28, 64, 64, 0);
$datagrid-row-alternation-bg: #1b1b1b;
$datagrid-summary-color: rgba(250, 252, 253, 0.7);
$pager-page-selected-color: rgba(0, 0, 0, 0.87);
$pager-page-selected-bg: #36afac;
$pivotgrid-area-color: #f6f6f7;
$pivotgrid-totalcolor: #403f43;
$pivotgrid-grandtotalcolor: #2d2d31;
$pivotgrid-field-area-text-color: rgba(175, 175, 184, 0.3);
$fileuploader-filename-color: #fafcfd;
$fileuploader-falename-status-color: white;
$fileuploader-border-color: #383a3d;
$scheduler-base-border-color: #383a3d;
$scheduler-accent-border-color: #383a3d;
$scheduler-appointment-text-color: rgba(0, 0, 0, 0.87);
$scheduler-appointment-base-color: #35b0ac;
$scheduler-appointment-start-color: rgba(0, 0, 0, 0.3);
$scheduler-workspace-focused-cell-color: rgba(52, 175, 173, 0.12);
$scheduler-first-month-border-color: #383a3d;
$scheduler-current-time-cell-color: #35b0ac;
$form-field-item-color: #eaeaeb;
$form-group-border-color: #383a3d;
$filterbuilder-text-color: #fafcfd;
$filterbuilder-text-focus-color: #fff;
$filterbuilder-plus-icon-color: rgba(16, 124, 63, 0.7);
$filterbuilder-remove-icon-color: rgba(251, 112, 101, 0.7);
$filterbuilder-group-operation-color: rgba(251, 112, 101, 0.3);
$filterbuilder-item-field-color: rgba(52, 175, 173, 0.3);
$filterbuilder-item-operator-color: rgba(16, 124, 63, 0.3);
$filterbuilder-item-value-color: rgba(56, 58, 61, 0.5);
$drawer-shader-background-color: rgba(17, 17, 17, 0.57);
