:host {
  display: block;
  position: relative;
  height: 50px;
  font-size: 14px;
}

.left,
.right {
  margin: 8px 0;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  ::ng-deep {
    >div {
      display: inline-block;
    }
    dx-text-box {
      .dx-texteditor-input {
        padding: 6px 9px 6px 25px;
      }
    }
    dx-button,
    dx-text-box {
      display: inline-block;
    }
  }
}

.left {
  width: 70%;
  text-align: left;
  ::ng-deep {
    dx-button,
    dx-text-box {
      margin-right: 5px;
    }
  }
}
.right {
  width: 30%;
  text-align: right;
  ::ng-deep {
    dx-button,
    dx-text-box {
      margin-left: 5px;
    }
  }
}
